<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idcmedia.islamicpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_channel_id"-->
            <!--android:value="@string/default_notification_channel_id" />-->
        <activity android:name="com.idcmedia.islamicpro.WatchVideoActivity"></activity>
        <activity android:name="com.idcmedia.islamicpro.RuqyahActivity" />
        <activity
            android:name="com.idcmedia.islamicpro.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="com.idcmedia.islamicpro.PdfRenderActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.AdhanMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.NamesMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.NotificationActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.ChannelVideoMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.SymptomsMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.AzkarActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.DashBoardDuaMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.RukyahMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.AzkarMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.KuranMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.CommonDetailsMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.CommonListMainActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.SettingActivity" />
        <activity android:name="com.idcmedia.islamicpro.activity.YouVideoPlayActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.DashBoardHomeActivity"
            android:label="@string/name_activity_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.DuaActivity"
            android:label="@string/name_activity_dua"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.idcmedia.islamicpro.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity android:name=".PDFViewActivity" -->
        <!-- &gt; -->
        <!-- </activity> -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6882611079938933~5226262012" />
    </application>

</manifest>